<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsciiPumper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ColorPumper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AsciiPumper.Properties.Settings>
            <setting name="PaintFontName" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="LMBIsForeground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MMBIsForeground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RMBIsForeground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CellHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CellWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HighlightColor" serializeAs="String">
                <value>Salmon</value>
            </setting>
            <setting name="SeperatorColor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Rows" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LMBColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MMBColor" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RMBColor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PaintFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShouldWatermark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>asciipumper.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
        </AsciiPumper.Properties.Settings>
        <ColorPumper.Properties.Settings>
            <setting name="PaintFontName" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="PaintFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LMBIsForeground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MMBIsForeground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RMBIsForeground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CellHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CellWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HighlightColor" serializeAs="String">
                <value>OldLace</value>
            </setting>
            <setting name="SeperatorColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Rows" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LMBColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MMBColor" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RMBColor" serializeAs="String">
                <value>1</value>
            </setting>
        </ColorPumper.Properties.Settings>
    </userSettings>
</configuration>